<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 상세보기</title>
  <style type="text/css">
    .leftcol { text-align: left; vertical-align: top; }
    .lefttoptable { height: 250px; border-width: 0px;
        text-align: left; vertical-align: top; padding: 0px; }
  </style>
</head>
<body>
<table class="w3-table">
  <tr>
    <td colspan="2" th:text="${boardName}"></td>
  </tr>
  <tr>
    <td width="15%">글쓴이</td>
    <td width="85%" class="leftcol" th:text="${board.writer}"></td>
  </tr>
  <tr>
    <td>제목</td>
    <td class="leftcol" th:text="${board.title}"></td>
  </tr>
  <tr>
    <td>내용</td>
    <td class="leftcol">
      <table class="lefttoptable">
        <tr>
          <td class="leftcol lefttoptable" th:utext="${board.content}"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>첨부파일</td>
    <td>
      <span th:if="${board.fileurl != null and !#strings.isEmpty(board.fileurl)}">
        <a th:href="@{/file/{file}(file=${board.fileurl})}" th:text="${board.fileurl}"></a>
      </span>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <a th:href="@{|reply?num=${board.num}&boardid=${board.boardid}|}">[답변]</a>
      <a th:href="@{|update?num=${board.num}&boardid=${board.boardid}|}">[수정]</a>
      <a th:href="@{|delete?num=${board.num}&boardid=${board.boardid}|}">[삭제]</a>
      <a th:href="@{|list?boardid=${board.boardid}|}">[게시물목록]</a>
    </td>
  </tr>
</table>

<!-- 댓글 등록 폼 -->
<span id="comment"></span>
<form th:action="comment" th:object="${commentDto}" method="post" name="commForm">
  <input type="hidden" name="num" th:value="${board.num}" />
  <div class="w3-row">
    <div class="w3-col s2 w3-center">
      <p>
        <input th:field="*{writer}" class="w3-input w3-border" placeholder="작성자"/>
        <font color="red"><span th:errors="*{writer}"></span></font>
      </p>
    </div>
    <div class="w3-col s2 w3-center">
      <p>
        <input type="password" th:field="*{pass}" class="w3-input w3-border" placeholder="비밀번호"/>
        <font color="red"><span th:errors="*{pass}"></span></font>
      </p>
    </div>
    <div class="w3-col s7 w3-center">
      <p>
        <input th:field="*{content}" class="w3-input w3-border" placeholder="댓글내용"/>
        <font color="red"><span th:errors="*{content}"></span></font>
      </p>
    </div>
    <div class="w3-col s1 w3-center">
      <p><button type="submit" class="w3-btn w3-border">댓글등록</button></p>
    </div>
  </div>
</form>

<!-- 댓글 목록 -->
<div class="w3-container">
  <table class="w3-table-all">
    <tr th:each="c, stat : ${commlist}">
      <td th:text="${c.seq}"></td>
      <td th:text="${c.writer}"></td>
      <td th:text="${c.content}"></td>
      <td th:text="${#dates.format(c.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td class="w3-right">
        <form th:action="commdel" method="post" th:name="${'commdel' + stat.index}">
          <input type="hidden" name="num" th:value="${c.num}"/>
          <input type="hidden" name="seq" th:value="${c.seq}"/>
          <input type="password" name="pass" placeholder="비밀번호"/>
          <a class="w3-btn w3-border w3-blue"
             th:onclick="|document.commdel${stat.index}.submit(); return false;|">삭제</a>
        </form>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
